footer {
  .links {
    background-color: rgb(39, 46, 54);
    color: rgb(142, 143, 145);
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 3rem;

    @media (max-width: 576px) {
      padding-left: 0.6rem;
    }

    ul {
      padding-left: 1.5rem;

      li {
        list-style: url('/img/ul_list_arrow.png');;
        a {
          color: rgb(142, 143, 145);
          margin-left: 0.6rem;
        }

        a:hover {
          color: rgb(142, 143, 145);
        }
      }
    }

    #socials {
      :nth-child(3), :nth-child(4), :nth-child(8) {
        img {
          border-left: 1px solid rgb(142, 143, 145) !important;
        }
        @media (max-width: 576px) {
          flex: 1 1 auto !important;
        }
      }
    }

    form {
      margin-bottom: 1rem;

      :hover, :active, :focus {
        outline: 0 !important;
        outline: none !important;
        -webkit-appearance:none !important;
        box-shadow: none !important;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
      }

      input, button {
        background-color: rgb(39, 46, 54) !important;
        height: 2.8rem !important;
        border-radius: 0 !important;
        border-top: 2px solid rgb(142, 143, 145) !important;
        border-bottom: 2px solid rgb(142, 143, 145) !important;
        vertical-align: middle !important;
      }

      input {
        border-right: none !important;
        border-left: 2px solid rgb(142, 143, 145) !important;
        padding-left: 1em !important;
        color: rgb(142, 143, 145) !important;
        flex: 1 1 auto !important;
        max-width: 20rem !important;
      }

      button {
        display: inline-block !important;
        border-right: 2px solid rgb(142, 143, 145) !important;
        color: white;
        margin-right: 3rem;

        @media (max-width: 576px) {
          margin-right: 0 !important;
        }

        svg {
          font-size: 2em;
        }
      }
    }
  }

  .credits {
    min-height: 3rem;
    line-height: 3rem;
    background-color: rgb(26, 30, 35);
    color: white;
  }
}
