html {
  height: 100%;
  box-sizing: border-box;

  body {
    background-color: white;

    main {
      padding-bottom: 4rem;

      h3 {
        color: grey;
        border-bottom: 1px solid grey;
        padding-bottom: 1rem;
        padding-top: 2rem;
        margin-bottom: 1rem;
      }
    }
  }
}
