*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;

  body {
    position: relative;
    margin: 0;
    padding-bottom: 20rem;
    min-height: 100%;
    background-color: white;

    main {
      padding-bottom: 5rem;

      h3 {
        color: grey;
        border-bottom: 1px solid grey;
        padding-bottom: 1rem;
        padding-top: 2rem;
        margin-bottom: 3rem;
      }
    }
  }
}
